:root {
  --bright: #ffffff;
  --background: #e63946;
  --darkBackground: #94242d;
  --purple: #1d3557;
  --blue: #457b9d;
  --lightBlue: #a8dadc;
  --black: #000000;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

h1 {
  color: var(--bright);
}
h2,
h3 {
  color: var(--purple);
}
p {
  color: var(--black);
}

li,
a {
  color: var(--bright);
}
li:hover,
a:hover {
  color: var(--lightBlue);
}

footer {
  background-color: var(--purple);
}

button {
  background-color: var(--darkBackground);
}

.container {
  color: var(--bright);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
