:root {
  --bright: #d0feff;
  --background: #f08080;
  --darkBackground: #cc4949;
  --purple: #d5dbf5;
  --tan: #fac489;
  --black: #000000;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: var(--bright);
}
p {
  color: var(--black);
}

li {
  color: var(--bright);
}
li:hover {
  color: var(--purple);
}

button {
  background-color: var(--darkBackground);
}

.container {
  color: var(--bright);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
